@import "primeng/resources/themes/soho-light/theme.css"; 
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';

body {
    font-family: var(--font-family);
}

.not-full-width {
    width: 95%;
    margin: auto;
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px; /* Optional: Add gap between cards */
}


.container {
    display: flex;
    align-items: center;
} 

.drag-and-drop-box {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    height: 200px;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    align-items: center;
    display: grid;
    color: #777;
    background-color: #eeeeee;
}

.drag-over {
    border-color: #6d58ea !important;
  }