<div class="not-full-width">
    <p-card header="Select Method:">
        <div class="card flex justify-content-center">
            <div class="flex flex-column gap-3">
                <div *ngFor="let method of methods" class="field-checkbox">
                    <p-radioButton [inputId]="method.key" name="method" [value]="method" [(ngModel)]="selectedMethod"></p-radioButton>
                    <label [for]="method.key" class="ml-2">{{ method.name }}</label>
                </div>
            </div>
        </div>
    </p-card>
</div>