<div class="not-full-width">
    <p-steps [model]="items" [readonly]="true" [(activeIndex)]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
</div>
<app-file-upload *ngIf="activeIndex === 0" (fileSelectionEvent)="onFileSelectionChange($event)"></app-file-upload>
<app-feature-selection *ngIf="activeIndex === 1" (featureSelectionEvent)="onFeatureSelectionChange($event)"></app-feature-selection>
<app-annotation *ngIf="activeIndex === 2" (annotationProgressEvent)="onAnnotationStatusChange($event)"></app-annotation>
<app-statistics *ngIf="activeIndex === 3"></app-statistics>
<div class="center" style="padding-top: 15px;">
    <span style="padding-right: 30px;">
        <p-button 
            label="Previous Step" 
            icon="pi pi-angle-left" 
            styleClass="p-button-rounded p-button-text p-button-raised"
            [disabled]="activeIndex <= 0"
            (click)="goToPreviousStep()"
            ></p-button>
    </span>
    <span>
        <p-button 
            label="Next Step" 
            icon="pi pi-angle-right" 
            iconPos="right" 
            styleClass="p-button-rounded p-button-text p-button-raised"
            (click)="goToNextStep()"
            [disabled]="nextStepAllowed === false"
        ></p-button>
    </span>
</div>

