<p-toast [position]="'top-center'"></p-toast>

<div class="card flex justify-content-center" class="not-full-width">
    <p-card header="Upload File to Annotate:">
        <p-fileUpload 
            name="myfile" 
            [url]="url" 
            [multiple]="false" 
            accept=".xml, .csv, .tsv" 
            [maxFileSize]="1000000"
            (onSelect)="onSelectFile($event)"
            (onUpload)="onFileUpload($event)"
            [disabled]="uploadCompleted === true"
        >
            <ng-template let-file pTemplate="file">
                <div>
                    <p><b>SELECTED FILE:</b></p>
                    <div *ngIf="selectedFileName !== ''" class="button-container">
                        <i class="pi pi-file"></i>
                        <p>{{ selectedFileName }}</p>
                        <p>(size: {{ selectedFileSize | fileSize}})</p>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div *ngIf="uploadCompleted === true">
                    <p><b>SELECTED FILE:</b></p>
                    <div class="button-container">
                        <i class="pi pi-file"></i>
                        <p>{{ selectedFileName }}</p>
                        <p>(size: {{ selectedFileSize | fileSize}})</p>
                    </div>
                </div>
            </ng-template>
        </p-fileUpload>
    </p-card>
</div>