<p-toast [position]="'top-right'"></p-toast>
<div class="card flex justify-content-center" class="not-full-width">
    <p-card header="Upload File to Annotate:">
        <p-fileUpload 
            name="myfile" 
            [url]="url+'/upload'" 
            [multiple]="true" 
            accept=".xml, .csv, .tsv" 
            [maxFileSize]="1000000"
            [auto]="true"
            (onUpload)="onUploadFile($event)"
        >
            <ng-template pTemplate="content">
                <div (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)">
                   <div class="drag-and-drop-box" [ngClass]="{'drag-over': isFileDragOver}">
                        <p>(Drag and drop files here to upload)</p>
                   </div>
                </div>       
                
                <ng-container>
                    <p-table 
                        [value]="uploadedFiles" 
                        [(selection)]="filesSelectedForAnalyses" 
                        dataKey="filename"
                        [paginator]="true"
                        [rows]="5"
                        [showCurrentPageReport]="true"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                        styleClass="p-datatable-striped"
                    >
                        <ng-template pTemplate="caption">
                            <div style="display: flex; align-items: center;">
                                <div>The following files will be used for analyses:</div>
                                <!-- <span>
                                    <button pButton type="button" icon="pi pi-check" label="SELECT ALL" class="p-button-sm p-button-outlined" style="margin: 5px;"></button>
                                    <button pButton type="button" icon="pi pi-trash" label="DELETE ALL" class="p-button-sm p-button-outlined p-button-danger" style="margin: 5px;"></button>
                                </span> -->
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 4rem">
                                    <p-tableHeaderCheckbox (click)="onFileSelection()"></p-tableHeaderCheckbox>
                                </th>
                                <th>File</th>
                                <th>Size</th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-file let-index>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="file" (click)="onChangeSelectionStatus(file); onFileSelection()"></p-tableCheckbox>
                                </td>
                                <td>{{ file.filename }}</td>
                                <td>{{ file.size | fileSize }}</td>
                                <td>
                                    <div class="container">
                                        <p-button label="DELETE" (click)="onDeleteUploadedFile(file)" [id]="'delete' + index" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="3">No files uploaded yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
            </ng-template>
        </p-fileUpload>
    </p-card>
</div>