<div class="not-full-width">
    <p-card header="Annotate the Following Features:">
        <div class="grid-container">
            <p >(PREPROCESSING)</p>
            <p-progressBar [value]="preprocessingProgressValue"></p-progressBar>
        </div>
        <div *ngFor="let feature of selectedFeatures" class="grid-container">
            <p >{{ feature.name }}</p>
            <p-progressBar [value]="feature.progress"></p-progressBar>
        </div>
        <div class="grid-container">
            <p >(GENERATE STATISTICS)</p>
            <p-progressBar [value]="statisticsProgressValue"></p-progressBar>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 2rem;">
            <p-button label="START ANNOTATION" icon="pi pi-forward" (onClick)="onStartAnnotation()" [disabled]="annotationFinished"></p-button>
        </div>
        <div *ngIf="annotationFinished">
            <p-messages [(value)]="successMessage" [enableService]="false" [closable]="false"></p-messages>
        </div>
    </p-card>  
</div>
