
<div class="not-full-width">
    <p-card header="Select Features to Annotate:">
        <div style="padding-bottom: 20px;">
            <p-toggleButton 
                [(ngModel)]="checked" 
                onLabel="SELECT ALL FEATURES" 
                offLabel="CLEAR SELECTION"
                onIcon="pi pi-check" 
                offIcon="pi pi-times"
                (onChange)="onToggleSelectAll()"
            ></p-toggleButton>
        </div>

        <div class="grid-container">
            <div *ngFor="let dimension of allDimensions">
                <p-fieldset [legend]="dimension">
                    <div *ngFor="let feature of allFeatures">
                        <div *ngIf="feature.dimension === dimension" style="padding-bottom: 10px;">
                            <p-checkbox name="group" [value]="feature" [label]="feature.name" [(ngModel)]="selectedFeatures" (onChange)="onSelectFeature()"></p-checkbox>
                        </div>
                    </div>
                </p-fieldset> 
            </div>
        </div>
    </p-card>
</div>